myjekinsfile/src/main/mule/myjekinsfile.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d2f56d3a-5a75-456e-93ef-64283485ca1e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="myjekinsfileFlow" doc:id="327e1bfa-c95f-4e1b-b071-95d386614c7e" >
		<http:listener doc:name="Listener" doc:id="924104e3-c30d-46bf-9d29-9e728c150c12" config-ref="HTTP_Listener_config" path="/*"/>
		<logger level="INFO" doc:name="Logger" doc:id="b64c46ad-a19c-45b0-8482-c853d3d2f434" message='#["This is for jenkins test"]'/>
	</flow>
</mule>
